*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h1{
    color : rgb(148, 56, 56);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-shadow: 0 , 0 , 100px;
    padding-top: 20px;
}
.home{
    background-color:gray;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.Mainlist{
    border-radius: 20px;
}
.btn1{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(69, 69, 69) !important;
    font-weight: bold;
}

.form-control:focus{
    background-color: rgb(255, 207, 207);
    transform: scale(1.03);
}

.searchinput{
    width: 49%;
    text-align: center;
    border-radius: 8px;
}
.deleteall{
    background-color: transparent;
    border-color: transparent;
    color: rgb(69, 69, 69);
    font-weight: bold;
}

.samehover:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}